
.match-list{
    background-color: black;
    align-self: center;
    display: flex;
    position: relative;
}
.card-match{
    display: flex;
    text-align: center;
    background-color:black;
    position: relative;
}


.more-match{
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: blue;
    width: 400px;
    height: 70px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: blue;
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
}

.bar{
background-color:rgb(65, 130, 195);
    display: flex;
 }

.menu{
margin-left: 10%;
margin-top: 1%;
}

.date{
    margin-left: 5%;
}
.progressbar{
 margin-left: 50%;
margin-top: 30%;
color: blue;

}
