/* https://www.color-hex.com/color-palette/35996 */

/**
 * @author Ali Hussien
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
